body{

    background-color: rgb(107, 1, 1);
    font-family: 'Montserrat', sans-serif;
}

header{
    color: white;
    margin: 40px 0px -40px 25px;
   
}

main{
    display: grid;
    grid-template-rows: 325px 175px 290px 100px;
    grid-template-columns: 150px repeat(1, 1fr);
    height: 100%;
    grid-gap: 5px;
    margin: 50px 15px 0px;
}



.happy{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.2em;

 

    
}

.happytext{

    margin: 120px 50px -100px 15px;
    font-size: 1.1em;
}



.cupcake, .lorem{

    background-color: #66b2b2;
    color: white;
    font-size: 1.4;
    padding: 5px;
    line-height: 1.5em;
 

    
}
.cupcakeText, .loremText{

    padding: 10px;

    }


.tie{
    background-image: url(images/tie.png);
    grid-column: span 2;
    grid-row: span 1;
    background-position-y: -300px;
  
   
    
}

.sign{
    background-image: url(images/sign.jpg);
    



}

.moped{
    background-image: url(images/moped.jpg);
    grid-column: span 2;
    grid-row: span 1;
    background-position-y: -305px;
    height: 115px;
   

}

.sax{
    background-image: url(images/sax.jpg);

}

.light{
    background-image: url(images/light.jpg);

}

.flower{

    background-image: url(images/flower.jpg)
}

@media only screen and (min-width: 600px){

    main{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
        padding: 50px 150px 150px 150px;

    }


}
